.sliders {
    width: 80%;
    height: auto;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative;
  }

  .slick-slide > div {
    margin: 0 34px;
    
    
  }
  
  
  .slick-list {
    margin: 0 -10px;
  }

  
  .card {
    background: #F3F3F3;
    height: 600px;
    width: 400px;
    overflow: hidden;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
  }

  

  

  .card h1 {
    font-weight: 600;
    font-size: 29.2364px;
    line-height: 44px;
    text-align: center;
    color: #1D1D1D;
    padding:22px 10px 0 10px;
  }

  .card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    padding: 22px 45px ;
  }

  .card span {
    display: block;
    width: 192px;
    height: 1px;
    text-align: center;
    border: 1px solid #CFCFCF;
    margin: auto;
    width: 50%;
    display: block;
    margin-top:35px;
    
  }

  .card-img-cont img {
    width: 110px;
    height: 110px;
  }
  
  .slider-arrow-cont {
    color: #F3F3F3;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 50%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .arrows {
    width: 30px;
    font-size: 30px;
    
  }
  
  @media (max-width:500px ){

    .card {
      height: 450px;
      width: 300px;
      overflow: hidden;
      font-family: poppins;
      
    }

    .card h1 {
      
      font-size: 22px;
      
    }
  
    .card p {
      
      font-size: 14px;
      padding: 22px 30px ;
      
    }
  }
  
  
  
