.info1 {
    width: 100%; 
    color: #f1f0ea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 120px;
    padding-block-end: 200px;
}

.info1 p {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #D0CFCC;
    line-height: 46px;
}

.info1 p span {
    color: #1ED07C;
    font-weight: 700;
}

.info1-brL {
    background: url('../../../public/bracketL.svg') no-repeat;
    width: 25px;
    height: 50px;
    
}

.info-brR {
    background: url('../../../public/bracketR.svg') no-repeat;
    width: 10vw;
    height: 20vw;
}


@media (max-width: 1300px) {
    .info1 p {
        font-size: 2.75vw;
        
    }
    
}

@media (max-width: 1000px) {
    .info1 p {
        font-size: 3vw;
        line-height: 50px;
        
    }
    
}

@media (max-width: 700px) { 
    
    .info1 p {
        font-size: 4vw;
        line-height: 40px;
        padding: 2rem;
        display: inline-block;
        
    }
    
}

@media (max-width: 520px) {
    .info1 p {
        font-size: 18px;
        line-height: 40px;
        text-align: left;
        display: inline-block;
    }
    
    
}

