.ImageCard {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 550px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    
  }

  .ImageCard:hover {
    transform: scale(0.96);
    

  }
  

  /* .ImageCard__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(0px);
    opacity: 1;
    
    
    
    
  }

  .ImageCard__overlay:hover {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  } */
  
  .ImageCard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
  }

  
  .ImageCard__title {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 800;
    font-size: 40px;
    color: white;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    
  }

  /* .ImageCard__title:hover {
    background-color: rgba(0, 0, 0, 0.5);

  } */
  
  .ImageCard--hover .ImageCard__overlay {
    opacity: 1;
  }
  
  .ImageCard--hover .ImageCard__image {
    transform: scale(1.2);
    
  }

  .imagecard-bottom h1 {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
  }

  .imagecard-bottom p {
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: #A5A5A5;
  }

  .imagecard-cont--featured {
    position: relative;
  }

  .featured-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #1ED07C;
    color: #000814;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    z-index: 10;
    letter-spacing: 0.5px;
  }

@media (max-width: 850px) {
    .imagecard-cont {
        padding: 0 8vw;
    }
    .ImageCard__title {
        font-size: 6vw;
    }
    .imagecard-bottom p{
        font-size: 3.5vw;
        font-weight: 500;
    }
    .imagecard-bottom h1 {
        font-size: 4vw;
    }
}

