.info2-bg{
    background-color: #fff;
}

.info2 {
    background: #fff;
    padding: 190px 115px 105px 115px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.info2 h1 {
    max-width: 300px;
    font-weight: 700;
    font-size: 56px;
    text-align: left;
    letter-spacing: 0.025em; 
    line-height: 65px;
    background: -webkit-linear-gradient(0deg, #1ED07C, rgba(31, 193, 228, 0.53));
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info2 p {
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    /* or 34px */


color: #1F1D1D;
}

@media (max-width: 1000px){
    .info2 h1 {
        font-size: 3.1vw;
    }
    
    .info2 p {
        font-size: 1.5vw;
    }
}
@media (max-width: 880px){
    .info2 {
        flex-direction: column;
        align-items: center;
        padding: 100px 40px;
        gap: 20px;
    }
    .info2 h1 {
        font-size: 26px;
    }
    
    .info2 p {
        font-size: 14px;
        width: 80%;
    }
}
@media (max-width: 680px){
    .info2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 40px;
        gap: 20px;
    }
    .info2 h1 {
        font-size: 22px;
    }
    
    .info2 p {
        font-size: 14px;
        width: 100%;
    }
}
